<div class='container'>
  <h2>Career</h2>
  <p>I have been involved in software architecture and development for over a decade. 
    I have a passion for creating solutions that exceed expectations. 
    I always stay on top of new technology and currently I'm focusing on cross-platform mobile development that integrates with a CRM backend.</p>
 
  <p>I am currently employed at <a href='http://www.mymobility.co.za' target='_blank'>MyMobility</a> as the Product Development Manager 
    where I oversee the development of our CRMobility product and manage the development team. 
    For mobile development and synchronisation we utilise the latest RhoMobile Suite from Motorola that uses Ruby and is based on the Rails framework.</p>
  
  <p>Although we still use Microsoft products and .NET for some of our components, I prefer open source products, technologies and frameworks.</p>

  <div class="panel panel-info">
    <div class="panel-heading">If you're interested in my CV or my LinkedIn profile...</div>
    <div class="panel-body">
      <img src='/assets/pdf.png' height='78' style='margin-right: 15px;'/>
      <a href="http://www.linkedin.com/in/chrisbossie" target="_blank"><img src='/assets/linkedin.png' height='78'/></a>
    </div>
  </div>

  <hr>
  
  <img src='/assets/ruby.jpg' height='48' style='margin-right: 15px;'/>
  <img src='/assets/rails.png' height='48' style='margin-right: 15px;'/>
  <img src='/assets/ubuntu.png' height='48' style='margin-right: 15px;'/>
</div>
