<style>
  table,th,td
  {
    text-align: center;
  }
  td{ width: 90px;}
</style>
<div class='container'>
  <h2>Career</h2>
  <p>I have been involved in software architecture and development for over a decade. 
    I make it my responsibility to create solutions that exceed expectations. 
    I always stay on top of new technology and currently I'm focusing on cross-platform mobile development and CRM.</p>

  <p>I am currently employed at <a href='http://www.mymobility.co.za' target='_blank'>MyMobility</a> as the Product Development Manager 
    where I oversee the development of our CRMobility product and manage the development team. 
    We utilise the RhoMobile Suite from Motorola for mobile development and synchronisation, which uses Ruby and is based on the Rails framework.</p>

  <p>I come from a Microsoft and .NET background, but lately I prefer to work with open source products, technologies and frameworks.</p>

  <div class="panel panel-info">
    <div class="panel-heading">For further details, see my LinkedIn profile</div>
    <div class="panel-body">
      <table>
        <tr>
          <td><a href="http://www.linkedin.com/in/chrisbossie" target="_blank">
              <img src='/assets/linkedin.png' alt="LinkedIn" title="View my LinkedIn profile" height='64'/></a></td>
        </tr>
        <tr>
      <td><a href="http://www.linkedin.com/in/chrisbossie" target="_blank"><center>LinkedIn Profile</center></a></td>
        </tr>
      </table>
    </div>
  </div>

  <p><small>Some of my favourite technologies:</small></p>
  
  <a href="https://www.heroku.com" target="_black"><img src='/assets/heroku.png' alt="Heroku" title="Heroku" height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://www.w3schools.com/html/html5_intro.asp" target="_black"><img src='/assets/html5.png'alt="HTML5" title="HTML5"  height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="https://www.ruby-lang.org" target="_black"><img src='/assets/ruby.jpg' alt="Ruby" title="Ruby" height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://rubyonrails.org" target="_black"><img src='/assets/rails.png' alt="Ruby on Rails" title="Ruby on Rails" height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="https://angularjs.org/" target="_black"><img src='/assets/angularjs.png'alt="AngularJS" title="AngularJS"  height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://www.linux.com" target="_black"><img src='/assets/tux.png' alt="Linux" title="Linux" height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://www.ubuntu.com" target="_black"><img src='/assets/ubuntu.png' alt="Ubuntu" title="Ubuntu" height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://www.microsoft.com/net" target="_black"><img src='/assets/net.jpg' alt=".NET" title="Microsoft .NET" height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://git-scm.com" target="_black"><img src='/assets/git.png'alt="Git" title="Git"  height='38' style='margin: 10px 15px 10px 0px;'/></a>
  <a href="http://redis.io/" target="_black"><img src='/assets/redis.png'alt="redis" title="redis"  height='38' style='margin: 10px 15px 10px 0px;'/></a>
</div>
