<div class="container">
  <h2><img src="/assets/r_logo.png" height="48"/> &nbsp;RESTful API</h2>
  <p>This public API is one of my personal software projects that I am busy writing.</p>
  <p>Currently the API is geared towards finding, extracting and updating movie meta-data that I use for my personal movie files in iTunes. 
  The API is still in testing phase, so it is not released yet. It is written in Ruby using Rails.</p>
  <p>Please check back here soon for new info...</p>
</div>