<div class="container">
  <h2><img src="/assets/r_logo.png" height="48"/> &nbsp;RESTful API</h2>
  <p>This public API is one of my personal software projects that I am busy writing.</p>
  <p>It doesn't contain much functionality yet as it is still a work in progress. It is written in Ruby on Rails.</p>
  <p>Current methods:</p>
  <div class="well well-sm">
    <a href="api/datetime" target="_blank"><kbd>api/datetime</kbd></a><samp>&nbsp;Returns the current date and time as a JSON string.</samp>
  </div>
  
</div>