<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Welcome to Chris Boshoff</h1>
        <p>This web portal is about me. Who I am, what I do and why I do it.</p>
      </div>
      <div class="col-md-1">
        <img src="/assets/berg.jpg" height="144s"/>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Career</h2>
      <p>I have been involved in software architecture and development for over a decade. 
        I have a passion for creating solutions that exceed expectations...</p>
      <p><a class="btn btn-primary" href="/career/index" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Inspirations</h2>
      <p>My inspirations in life are what drives me. Whether it's technology, art or science, I will always be inspired by things bigger than me...</p>
      <p><a class="btn btn-primary" href="/inspiration/index" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Social</h2>
      <p>I am a firm believer that one should have a good balance in life and always make time for all the different aspects in your life...</p>
      <p><a class="btn btn-primary" href="/social/index" role="button">View details &raquo;</a></p> 
    </div>
  </div>

  <div id="alertMobile" class="alert alert-info alert-dismissable" style="display: none; margin-top:12px; margin-bottom: 0px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Mobile Compatible</strong>: This site is viewable from your mobile phone or tablet.
  </div>

  <% if not params[:home] %>
    <script>
      if (!isMobile())
        setTimeout(function() {
          $('#alertMobile').fadeIn();
          setTimeout(function() {
            $('#alertMobile').fadeOut();
          }, 5000);
        }, 2000);
    </script>
  <% end %>
</div> <!-- /container -->
