

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" >
  <div class="container">
    <h1>Welcome to Chris Boshoff</h1>
    <p>This web portal is about me. Who I am, what I do and why I do it.</p>
    <p><a href="/about/index" class="btn btn-primary btn-lg" role="button">More about me &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Career</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="/software/index" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Social</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="/social/index" role="button">View details &raquo;</a></p> 
    </div>
    <div class="col-md-4">
      <h2>Inspirations</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="/inspiration/index" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <div id="alertMobile" class="alert alert-info alert-dismissable" style="display: none; margin-top:12px; margin-bottom: 0px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Mobile Compatible</strong>: This site is viewable from your mobile phone or tablet.
  </div>

  <script>
    if (!isMobile())
      setTimeout(function() {
        $('#alertMobile').fadeIn();
        setTimeout(function() {
          $('#alertMobile').fadeOut();
        }, 5000);
      }, 2000);
  </script>
</div> <!-- /container -->
