<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Welcome to Chris Boshoff</h1>
        <p>This web portal is about me. Who I am, what I do and why I do it.</p>
      </div>
      <div class="col-md-1">
        <a href="#" data-toggle="modal" data-target="#modalMe"><img src="/assets/berg.jpg" alt="Me" title="View large image" height="144s"/></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalMe">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p></p>
      </div>
      <img src="/assets/berg.jpg" alt="Me" title="This is me" style="width: 100%;"/>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Career</h2>
      <p>I have been involved in software architecture and development for over a decade. I have a passion for creating solutions that exceed expectations...</p>
      <p><a class="btn btn-primary" href="/career" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Projects</h2>
      <p>The personal projects that I keep myself busy with ranges from small hobbies to software experiments and contributions...</p>
      <p><a class="btn btn-primary" href="/project" role="button">View details &raquo;</a></p> 
    </div>
    <div class="col-md-4">
      <h2>Inspirations</h2>
      <p>My inspirations in life are what drives me. Whether it's technology, art or science, I will always be inspired by things bigger than me...</p>
      <p><a class="btn btn-primary" href="/inspiration" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <div id="alertMobile" class="alert alert-info alert-dismissable" style="display: none; margin-top:12px; margin-bottom: 0px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Mobile Compatible</strong>: This site is mobile friendly.
  </div>

  <div id="alertDesktop" class="alert alert-info alert-dismissable" style="display: none; margin-top:12px; margin-bottom: 0px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Desktop Compatible</strong>: This site is desktop friendly.
  </div>

  <hr/>
  <div>
    <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/7748879/activity-summary/8de7043a421d2715711f91ae70becb26b2f31615'></iframe>
  </div>

  <% if not params[:home] %>
    <script>
      if (!isMobile())
        setTimeout(function() {
          $('#alertMobile').slideDown();
          setTimeout(function() {
            $('#alertMobile').slideUp();
          }, 5000);
        }, 2000);
      else
        setTimeout(function() {
          $('#alertDesktop').slideDown();
          setTimeout(function() {
            $('#alertDesktop').slideUp();
          }, 5000);
        }, 2000);
    </script>
  <% end %>
</div> <!-- /container -->
