<div class="container">
  <h2><img src="/assets/github.png" height="48"/>&nbsp;Software Projects</h2>
  <p>All my personal software projects are hosted under my <a href="https://github.com/chrisboshoff">GitHub Profile</a></p>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info"><strong>GitHub Repos</strong></li>
    <li class="list-group-item"><a target="_blank" href="https://github.com/chrisboshoff/chrisboshoff">Chris Boshoff - This website</a></li>
  </ul>
</div>