<div class="container">
  <h2><img src="/assets/git.png" height="48"/> &nbsp;Software Projects</h2>
  <p>I am busy consolidating all my personal software projects and will add them to my Git repository when done.</p>
  <p>Please check back here soon...</p>
</div>