<div class="container">
  <h2>Projects</h2>
  <br>
  <!--<table border="0">
    <tr>
      <td style="text-align: center;"><a href="/api/index"><img src="/assets/r_logo.png" height="48"/></a></td>  
      <td style="padding-left: 10px;"><a href="/api/index" style="text-decoration: none; color: inherit;"><h4>Public API</h4></a></td>
    </tr>
    <tr>
      <td style="padding-bottom: 15px;"></td>  
      <td></td>
    </tr>
    <tr>
      <td style="text-align: center;"><a href="/software/index"><img src="/assets/git.png" height="48"/></a></td>  
      <td style="padding-left: 10px;"><a href="/software/index" style="text-decoration: none; color: inherit;"><h4>Software Projects</h4></a></td>
    </tr>
  </table>-->

  <ul class="media-list">
    <li class="media" style="margin-left: 9px;">
      <a class="pull-left" href="/api/index" style="text-decoration: none; color: inherit;"><img src="/assets/r_logo.png" height="48"/>
      <div class="media-body" style="padding-left: 8px;">
        <h4>RESTful API</h4></a>
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="/software/index" style="text-decoration: none; color: inherit;"><img src="/assets/git.png" height="48"/>
      <div class="media-body">
        <h4>Software Projects</h4></a>
      </div>
    </li>
  </ul>
</div>
