<div class="container">
  <h2>Inspirations</h2>
  <p>Just a few things I am interested in:</p>
  <br>
  <ul class="list-group">
    <li class="list-group-item"><a target="_blank" href="http://en.wikipedia.org/wiki/Albert_Einstein">Albert Einstein</a></li>
    <li class="list-group-item"><a target="_blank" href="http://en.wikipedia.org/wiki/Introduction_to_general_relativity">Introduction to general relativity</a></li>
    <li class="list-group-item"><a target="_blank" href="http://en.wikipedia.org/wiki/Baruch_Spinoza">Baruch Spinoza</a></li>

    <li class="list-group-item"><a target="_blank" href="http://en.wikipedia.org/wiki/SOLID_(object-oriented_design)">SOLID</a></li>

        <li class="list-group-item"><a target="_blank" href="http://www.imdb.com/">IMDb</a></li>
  </ul>
</div>