<div class="container about">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>About Me</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
            <img src="/assets/berg.jpg" width="200"/>
        </div>

    </div>

    <hr>

    <footer>
        <p>&copy; Chris Boshoff <%=Time.now.strftime('%Y')%></p>
    </footer>
</div> <!-- /container -->