<div class="container">
  <h2>Contact</h2>
  <p>Contact me in any of the following ways:</p>
  <br>
  <a href="mailto:chris.bossie@gmail.com?Subject=Hello" style="text-decoration: none; color: inherit;">
    <h5><img src="/assets/48x48_email.png" style="background-color: #2d2d2d"/>&nbsp;&nbsp;chris.bossie@gmail.com</h5></a>
 <a href="skype:chris.bossie?chat" style="text-decoration: none; color: inherit;">
   <p><img src="/assets/skype-512.gif"  height="48" style="background-color: #2d2d2d"/>&nbsp;&nbsp;chris.bossie</p></a>
  <a href="http://www.linkedin.com/in/chrisbossie" target="_blank" style="text-decoration: none; color: inherit;">
    <p><img src="/assets/48x48_linkedin.png" style="background-color: #2d2d2d"/>&nbsp;&nbsp;www.linkedin.com/in/chrisbossie</p></a>
  <a href="https://www.facebook.com/chris.bossie" target="_blank" style="text-decoration: none; color: inherit;">
    <p><img src="/assets/48x48_facebook.png" style="background-color: #2d2d2d"/>&nbsp;&nbsp;www.facebook.com/chris.bossie</p></a>
</div>